<div class="component">
	<em>newRoundForm > newRoundForm.html</em>


<!-- ADD CANDIDATE -->
<h3>Add Candidate</h3>
<form ng-submit="newRoundForm.addCandidate()">
	<select ng-model="newRoundForm.selectedCandidate">
		<option selected disabled value="none">Select Candidate</option>
		<option ng-repeat="candidate in newRoundForm.candidates"
				name="{{candidate}}" id="{{candidate}}"
				value="{{candidate._id}}">
			{{candidate.lastName}}, {{candidate.firstName}}
		</option>
	</select>
<input type="submit" value="Save Candidate" class="btn btn-info">
</form>

<!-- ADD POSITION -->

<h3>Add position</h3>
<form ng-submit="newRoundForm.addPosition()">
	<select ng-model="newRoundForm.selectedPosition">
		<option selected disabled value="none">Select Position</option>
		<option ng-repeat="position in newRoundForm.positions"
				name="{{position}}" id="{{position}}"
				value="{{position._id}}">
			{{position.jobTitle}}
		</option>
	</select>
<input type="submit" value="Add Position" class="btn btn-info">
</form>

<!-- CREATE ROUND -->

<button ng-click="newRoundForm.createRound()" class="btn btn-default">Create Round</button>


</div>

