<div class="component">
  <em>components > interviewRubric > interviewRubric.html</em>


  <form ng-submit="">
    <!-- <div ng-repeat="question in questions"> -->
    <div class="question-container">
      <div class="row">
        <div class="col-xs-12 interview-question"> 
          Where do you see yourself in 45 years? 
          <em>{{question.question}}</em>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="col-xs-4">
          <label class="radio-inline">
            <input type="radio" name="score0" id="" value="option1"> 1
          </label>
          <label class="radio-inline">
            <input type="radio" name="score0" id="" value="option2"> 2
          </label>
          <label class="radio-inline">
            <input type="radio" name="score0" id="" value="option3"> 3
          </label>
          <label class="radio-inline">
            <input type="radio" name="score0" id="" value="option2"> 4
          </label>
          <label class="radio-inline">
            <input type="radio" name="score0" id="" value="option3"> 5
          </label>
        </div>
      </div>
    </div>
  <!--   </div> -->
    <div class="question-container">
      <div class="row">
        <div class="col-xs-12 interview-question"> 
          Have you ever been fired for murder? 
          <em>{{question.question}}</em>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="col-xs-4">
          <label class="radio-inline">
            <input type="radio" name="score1" id="" value="option1"> 1
          </label>
          <label class="radio-inline">
            <input type="radio" name="score1" id="" value="option2"> 2
          </label>
          <label class="radio-inline">
            <input type="radio" name="score1" id="" value="option3"> 3
          </label>
          <label class="radio-inline">
            <input type="radio" name="score1" id="" value="option2"> 4
          </label>
          <label class="radio-inline">
            <input type="radio" name="score1" id="" value="option3"> 5
          </label>
        </div>
      </div>
    </div>
    <div class="text-center">
      <input type="submit" value="Save" style="margin: 20px 0;">
    </div>
  </form>


</div>


