<h3>Edit Interview Round</h3>
<a href="/rounds"><span class="glyphicon glyphicon-arrow-left"></span> Back to Rounds</a>

<h3>Round Info:</h3>
	<form ng-submit="updateRound()">
		<div style="width: 300px;">
			Candidate Name
			<input type="text" class="form-control" ng-model="round.candidate.firstName">
		  <input type="text" class="form-control" ng-model="round.candidate.lastName"><br>
	  </div>
		Job Title:
		<input style="width: 300px" class="form-control" type="text" ng-model="round.position.title">
	  Description:
	  <input class="form-control" type="text" style="width: 95%" style="width: 380px" ng-model="round.position.description"><br>
	  Interview Questions:
		<div ng-repeat="question in round.questions track by $index">
	  	<input class="form-control" ng-model="question.question" style="width: 95%">
	  </div>
	  <br>
	  <input type="submit" value="Submit Changes">
	</form>
	<br>
<hr>

<h3>Add Interview Question </h3>
<form ng-submit="addQuestionToRound()">
 <input type="text" placeholder="Enter question" ng-model="newQuestion">
 <input type="submit">
</form>
<hr>
	<button ng-click="deleteRound(round)" style="font-size: 13px; color: red">DELETE THIS ROUND</button><br><br>