<h1>Edit Interview Round</h1>
<h3>Round Info:</h3>
{{round.candidate.firstName}}
{{round.candidate.lastName}}<br>
{{round.position.title}}<br>
<em>{{round.position.description}}</em>

<h3>Questions</h3>
<div ng-repeat="question in round.questions track by $index">
{{question}}
</div>

<h3> Select Question </h3>
<form ng-submit="submitQuestionToRound()">
 <input type="text" placeholder="Enter question" ng-model="newQuestion">
 <input type="submit">
</form>


<hr>

<!-- <form>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h3>Select existing candidate</h3>
				<select>
					<option selected disabled>Select Candidate</option>
					<option ng-repeat="candidate in candidates" value="{{candidate._id}}">{{candidate.lastName}}, {{candidate.firstName}}</option>
				</select>
		</div>

		<div class="col-xs-12 col-sm-6">
			<h3>Add new candidate</h3>
			<new-candidate-form></new-candidate-form>
		</div>
	</div>


</form>

 <hr>
<div>

<h2>testing</h2>

<h3> Select Question </h3>
<form>
	<select name="select question">
		<option selected disabled>Choose here</option>
		<option ng-repeat="question in questions" value="{{question._id}}">{{question.question}}</option>
	</select>
</form>


<h3> Select User (Interviewer) </h3>
<form>
	<select>
		<option selected disabled>Select Interviewer</option>
		<option ng-repeat="user in users" value="{{user._id}}">{{user.lastName}}, {{user.firstName}} ({{user.title}})</option>
	</select>
</form>

<h3> Select Round </h3>
<! <form>
	<select>
		<option selected disabled>Select Round</option>
		<option ng-repeat="user in users" value="{{user._id}}">{{user.lastName}}, {{user.firstName}} ({{user.title}})</option>
	</select>
</form> -->

<!-- 	<div ng-repeat="round in rounds">round in rounds: {{round}}</div>

<div>

<new-round-form></new-round-form>

</div>


</div>  -->