<h3>Edit Position</h3>

<a href="/positions"><span class="glyphicon glyphicon-arrow-left"></span> Back to Positions</a>
<br>
<div class="component">
  <form ng-submit="updatePosition()">
    Job Title<br>
    <input style="width: 300px" class="form-control" type="text" ng-model="position.jobTitle">
    Description<br>
    <input class="form-control" type="text" style="width: 95%" style="width: 380px" ng-model="position.description">
    <h5>Default Interview Questions for this position</h5>
    <input class="form-control" ng-model="position.questions[0]" style="width: 95%">
    <br>
    <input class="form-control" ng-model="position.questions[1]" style="width: 95%">
    <br>
    <input class="form-control" ng-model="position.questions[2]" style="width: 95%">
    <br>
    <input class="form-control" ng-model="position.questions[3]" style="width: 95%">
    <br>
    <input class="form-control" ng-model="position.questions[4]" style="width: 95%">
    <br>
    <input type="submit">
  </form>
</div>