<h1>Round Review Page</h1>

<candidate-info></candidate-info>

<h3>Interviewer Responses</h3>

<div class="row">
	<div class="col-xs-8 interview-question">
		Question
	</div>
	<div class="col-xs-4 interview-question">
		Cumulative Score
	</div>
</div>

<div class="row">
	<div class="col-xs-8">
		Where do you see yourself in 75 years?
	</div>
	<div class="col-xs-4">
		5
	</div>
</div>


<!-- 	<div id="toggleControl" class="col-xs-4 toggleClosed">
		<i class="fa fa-plus" id="expandIcon"><span class="toggleText"> [show matches]</span></i>
		<i class="fa fa-minus" id="retractIcon"><span class="toggleText"> [hide matches]</span></i>
	</div> -->
