<div class="component">
<em>components > userSignupForm > userSignupForm.html</em>
  <h1>Sign up form!</h1>
  <div style="width: 300px;">
  <form ng-submit="userSignupForm.submitUser()">
    <input type="text" class="form-control" ng-model="userSignupForm.newUser.firstName" placeholder="First Name">
    <input type="text" class="form-control" ng-model="userSignupForm.newUser.lastName" placeholder="Last Name">
    <input type="text" class="form-control" ng-model="userSignupForm.newUser.title" placeholder="Title">
    <input type="text" class="form-control" ng-model="userSignupForm.newUser.email" placeholder="Email">
    <input type="text" class="form-control" ng-model="userSignupForm.newUser.password" placeholder="Password">
    <input type="submit">
  </form>
  </div>
</div>

