<div class="component">
  <form ng-submit="newPositionForm.submitPosition()">
    <input type="text" placeholder="Enter Job Title" ng-model="newPositionForm.newPosition.jobTitle">
    <input type="text" style="width: 500px" placeholder="Enter Job Description" ng-model="newPositionForm.newPosition.description">
    <h5>Default Interview Questions for this position</h5>
    <select ng-options="q.question for q in newPositionForm.questions" ng-model="q1" style="font-size: 30px">
    </select><br>
    <select ng-options="q.question for q in newPositionForm.questions" ng-model="q2" style="font-size: 30px">
    </select><br>
    <select ng-options="q.question for q in newPositionForm.questions" ng-model="q3" style="font-size: 30px">
    </select><br>
    <select ng-options="q.question for q in newPositionForm.questions" ng-model="q4" style="font-size: 30px">
    </select><br>
    <select ng-options="q.question for q in newPositionForm.questions" ng-model="q5" style="font-size: 30px">
    </select><br>
    <input type="submit">
  </form>
</div>