<h1>Sign up form!</h1>
<div style="width: 300px;">
<form ng-submit="userForm.submitUser()">
	<input type="text" class="form-control" ng-model="userForm.newUser.lastName" placeholder="Last Name">
  	<input type="text" class="form-control" ng-model="userForm.newUser.title" placeholder="Title">
  	<input type="text" class="form-control" ng-model="userForm.newUser.email" placeholder="Email">
  	<input type="text" class="form-control" ng-model="userForm.newUser.password" placeholder="Password">
  	<input type="submit">
</form>
</div>

