<div class="component">
  <div style="width: 300px;">
    <form ng-submit="newCandidateForm.submitCandidate()">
      <input type="text" class="form-control" ng-model="newCandidateForm.newCandidate.firstName" placeholder="First Name">
      <input type="text" class="form-control" ng-model="newCandidateForm.newCandidate.lastName" placeholder="Last Name"><br>
      <input type="text" placeholder="First Name" ng-model="newCandidateForm.newCandidate.firstName">
      <input type="text" placeholder="Last Name" ng-model="newCandidateForm.newCandidate.lastName">
      <input type="submit">
    </form>
  </div>
</div>
