<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">RoundUp</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a ng-show="navBar.Auth.isLoggedIn()" class="dropdown-toggle" data-toggle="dropdown" href="#">Site Navigation<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/positions">Positions</a></li>
            <li><a href="/questions">Questions</a></li>
            <li><a href="/candidates">Candidates</a></li>
            <li><a href="/interview">Interview Candidate</a></li>
            <li><a href="/rounds">Rounds</a></li>
          </ul>
        </li>
        <li><a ng-hide="navBar.Auth.isLoggedIn()" href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a ng-show="navBar.Auth.isLoggedIn()" ng-click="navBar.logout()" href="/" ><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>