<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container">
      <a class="navbar-brand" href="/">RoundUp</a>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup">Signup</a></li>
        <li><a href="/positions">Positions</a></li>
        <li><a href="/questions">Questions</a></li>
        <li><a href="/candidates">Candidates</a></li>
        <li><a href="/interview">Interview Candidate</a></li>
      </ul>
    </div>
  </div>
</nav>