<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">RoundUp</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup">Signup</a></li>
        <li><a href="/candidates">View All Candidates</a></li>
        <li><a href="/candidates/new">Create New Candidate</a></li>
        <li><a href="/interview">Interview Candidate</a></li>
      </ul>
    </div>
  </div>
</nav>